body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-bar input {
    padding: 8px;
    font-size: 16px;
}

.search-bar button {
    padding: 8px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 200px;
}

footer{
    display: flex;
    justify-content: center;
    
}